#super{
	/*background-color: white;
	opacity: .75;*/
	/*border-radius: 50%;*/
}
.info{
	background-color: azure;
	opacity: .75;
	border-radius: 25px;
}
p{
	text-align: center;
	color: black;
	font-weight: bolder;
	font-size: 64px;
}
input{
	justify-content: center;
	width:100%;
	color:black !important;
	text-align: center;
}
body{
	/*background-color: #000000 !important;*/
	background-image: url("marvel14.jpg");
	/*background-repeat: repeat-y;*/
	background-size: 100%;
}

.search{
	background-color:darkred;
	/*#f44336*/
	/*opacity: 1;*/
	color :white;
	border: none;
	font-size: 36px;
	border-radius: 12px;
	padding: 14px 40px
}
.description{
	font-size: 24px;
	color: white;
<<<<<<< HEAD
	background-color:darkred; 
	/*background-image: url(image);*/
=======
	/*background-image: url(image);*/
}

.contentVideos, .contentVideos2, .contentVideos3
{
	background-color:darkred;
	text-align: center,

}

#title
{
	text-align: center;
	font-size: 15px;
	color:white;
	margin-top: 25px;
}
.fullContent
{
	background-color: rgba(139, 0, 0, 0.9);
	margin-bottom: 20px;
}

.frame
{
	text-align: center;
}

.ebayTitle
{
	color: white;
	font-size: 20px;
}

.ebayImg
{
	width: 150px;
	margin: 10px 10px 10px 10px;
}

.memorabiliaTitle, .videoTitle
{
	color: white;
	text-align: center;
	/*margin: 35px 0 10px 0;*/
}

.mainTitles
{
	font-size: 80px;
	margin-top: 30px;
}

.errorText
{
	color: white;
	text-align: right;
	font-size: 20px;

>>>>>>> Elsa-Branch
}